#stefpuim {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background: rgb(34, 34, 34);
  z-index: -1;
  position: relative;
}
#stefpuim .bg {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: rgb(13, 45, 92);
  background: linear-gradient(0deg, rgb(13, 45, 92) 0%, rgb(0, 0, 0) 100%);
  overflow: hidden;
}
#stefpuim .bg #stars {
  opacity: 0;
  position: absolute;
  top: 150vh;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(3, 3);
  transform-origin: center center;
  rotate: 0deg;
}
#stefpuim .bg .canvasSunMoon {
  height: 300vw;
  width: 300vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(-100vw, calc(-150vw + 250vh), 0);
  transform-origin: center center;
  rotate: 0deg;
}
#stefpuim .bg .canvasSunMoon .sun {
  position: absolute;
  height: 5%;
  width: 5%;
  top: 47.5%;
  left: 8%;
  background-color: rgb(255, 255, 200);
  box-shadow: 0 0 25px 25px rgb(255, 255, 200), 0 0 50px 25px yellow, 0 0 200px 100px rgb(255, 217, 0), 0 0 500px 0 yellow;
  border-radius: 100%;
}
#stefpuim .bg .canvasSunMoon .moon {
  position: absolute;
  height: 3%;
  width: 3%;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 0 25px 0 rgb(233, 233, 233), 0 0 50px 0 rgb(233, 233, 233);
  border-radius: 100%;
}
#stefpuim .bg .canvasSunMoon .moon:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  background-image: url(../img/moon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
}
#stefpuim .bg .canvasSunMoon #moon1 {
  top: 15%;
  left: 30%;
}
#stefpuim .bg .canvasSunMoon #moon2 {
  top: 86.5%;
  left: 50%;
}
#stefpuim .bg .cloud {
  position: absolute;
  z-index: 3;
  height: 100%;
  left: -100vw;
}
#stefpuim .bg #cloud4, #stefpuim .bg #cloud5, #stefpuim .bg #cloud6 {
  height: 120%;
}
#stefpuim .bg #cloud1 {
  transform: translate3d(-80%, -10%, 0);
}
#stefpuim .bg #cloud2 {
  transform: translate3d(20%, -10%, 0);
}
#stefpuim .bg #cloud3 {
  transform: translate3d(30%, 20%, 0);
}
#stefpuim .bg #cloud4 {
  transform: translate3d(-150%, -20%, 0);
}
#stefpuim .bg #cloud5 {
  transform: translate3d(-150%, 20%, 0);
}
#stefpuim .bg #cloud6 {
  transform: translate3d(-60%, -15%, 0);
}
#stefpuim .segment {
  position: relative;
  height: 100vh;
  width: 100%;
}
#stefpuim .box {
  z-index: 10;
}
#stefpuim .box .hour {
  position: absolute;
  width: 2%;
  height: 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20%;
  border-radius: 100px;
  background-color: gray;
  margin: auto;
  transform-origin: bottom center;
  z-index: 8;
  opacity: 0;
}
#stefpuim .box .minute {
  position: absolute;
  width: 1%;
  height: 35%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 35%;
  border-radius: 100px;
  background-color: gray;
  margin: auto;
  transform-origin: bottom center;
  z-index: 9;
  opacity: 0;
}
#stefpuim .box .dot {
  position: absolute;
  width: 4%;
  height: 4%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  background: black;
  margin: auto;
  z-index: 10;
  opacity: 0;
}
#stefpuim .box .mark {
  position: absolute;
  width: 0.5%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  margin: auto;
  transform-origin: center center;
  z-index: 7;
  opacity: 0;
}
#stefpuim .box #hour1 {
  transform: rotate(30deg);
  border-top: 25px solid black;
  border-bottom: 25px solid black;
}
#stefpuim .box #hour2 {
  transform: rotate(60deg);
  border-top: 25px solid black;
  border-bottom: 25px solid black;
}
#stefpuim .box #hour3 {
  transform: rotate(90deg);
  width: 1%;
  border-top: 50px solid black;
  border-bottom: 50px solid black;
}
#stefpuim .box #hour4 {
  transform: rotate(120deg);
  border-top: 25px solid black;
  border-bottom: 25px solid black;
}
#stefpuim .box #hour5 {
  transform: rotate(150deg);
  border-top: 25px solid black;
  border-bottom: 25px solid black;
}
#stefpuim .box #hour6 {
  transform: rotate(180deg);
  width: 1%;
  border-top: 50px solid black;
  border-bottom: 50px solid darkred;
}
#stefpuim .box .label {
  position: absolute;
  font-size: 2vw;
  z-index: 7;
  opacity: 0;
}
#stefpuim .box #twelve {
  top: 17%;
  left: 0;
  right: 0;
  bottom: 0;
}
#stefpuim .box #three {
  top: 44%;
  left: 60%;
  right: 0;
  bottom: 0;
}
#stefpuim .box #six {
  top: 72%;
  left: 0;
  right: 0;
  bottom: 0;
}
#stefpuim .box #nine {
  top: 44%;
  left: 0;
  right: 60%;
  bottom: 0;
}/*# sourceMappingURL=stefpuim.css.map */