body {
    margin: 50px auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e0e0e0;
    height: 100vh;
    width: 100vw;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(3, 20vw);
    grid-template-areas:
        "img img description description"
        "img img description description"
        "box1 box2 box3 box4"
        "footer footer footer footer";
    justify-content: center;
}

.img {
    grid-area: img;
    position: relative;
    top: 0;
    left: 0;
}

.img img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.img .new {
    position: absolute;
    top: 30px;
    left: 30px;
    max-width: 20%;
    animation: rotation 10s infinite linear;
}

.description {
    grid-area: description;
    animation: slide 0.5s ease-out;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box {
    border-radius: 20%;
    margin: 10%;
    background: #e0e0e0;
    transition: all 0.2s ease-in-out;
    padding: 10%;
}

.box:hover {
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.box h2 {
    margin: 0px;
}

.footer {
    grid-area: footer;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes slide {
    0% {
        opacity: 0%;
        transform: translateX(20%);
    }
    75% {
        opacity: 100%;
    }
    100% {
        transform: translateX(0%);
    }
}