body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px auto auto;
    grid-template-areas: 
        "header header header"
        "aside main section"
        "footer footer section";  /* "." zetten voor blanco, maar alles moet ingevuld zijn om te kunnen werken */
}

header {
    grid-area: header;
    background-color: green;
    padding: 1rem;
}

aside {
    grid-area: aside;
    background-color: yellow;
}

main {
    grid-area: main;
    background-color: blue;
}

section {
    grid-area: section;
    background-color: magenta;
}

footer {
    grid-area: footer;
    background-color: darkcyan;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns:  100px auto;
        grid-template-areas:
            "header header"
            "main main"
            "aside footer";
    }

    section {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    body {
        grid-template-columns:  1fr;
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
    }
}