html {
  height: 100vh;
  overflow: hidden;
  text-shadow: 0.1rem 0.1rem 0.4rem black;
}
html body {
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  height: 100vh;
  width: 100%;
}
html body .timeline {
  position: fixed;
  height: 60vh;
  width: 4vw;
  margin-top: 20vh;
  margin-left: 2vw;
  z-index: 2;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}
html body .timeline .line {
  top: 0;
  left: 0;
  background-color: rgb(180, 180, 180);
  border: rgba(0, 0, 0, 0.6) solid 1.7vw;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 100vw;
}
html body .timeline ul {
  display: flex;
  height: calc(100% - 2vw);
  width: 2vw;
  position: absolute;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 1vw;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
}
html body .timeline ul li {
  background-color: rgb(180, 180, 180);
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}
html body .timeline ul li a {
  padding-top: 0.2rem;
  color: rgb(30, 30, 30);
  text-decoration: none;
  text-shadow: none;
}
html body .timeline ul li:hover {
  transform: scale(1.2) !important;
}
html body .timeline:hover {
  opacity: 0.6 !important;
}
html body .parallax {
  perspective: 100px;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html body .parallax section {
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
}
html body .parallax section .ch {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
html body .parallax section .ch p {
  max-width: 50vw;
  text-align: left;
  margin: 0 auto;
}
html body .parallax section img {
  position: absolute;
  bottom: 20vw;
  left: 63vw;
  height: 18vh;
  aspect-ratio: 1/1;
  transform: translateZ(50px);
  z-index: 3;
  filter: drop-shadow(0.1rem 0.1rem 0.4rem black);
}
html body .parallax .footer {
  height: 50vh;
  background-color: rgb(30, 30, 30);
  z-index: 2;
  position: relative;
}
html body .parallax .footer .ch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
html body .parallax .footer .ch p {
  text-align: center;
}
html body #title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
  background: url("../img/forest-min.jpg") rgba(30, 30, 30, 0.6);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(-100px) scale(2);
}
html body .flat {
  background: url("../img/leafbg-min.png") rgb(30, 30, 30);
  background-blend-mode: overlay;
  background-repeat: repeat;
  z-index: 2;
}
html body #ch2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
  background: url("../img/donkey-min.jpg") rgba(30, 30, 30, 0.6);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(-100px) scale(2);
}
html body #ch4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
  background: url("../img/potion-min.jpg") rgba(30, 30, 30, 0.6);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(-100px) scale(2);
}
html body #ch6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
  background: url("../img/forest-min.jpg") rgba(30, 30, 30, 0.6);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(-100px) scale(2);
}
html body h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 30px 10px;
}
html body h2 {
  font-size: 2rem;
  margin: 30px 10px;
  font-weight: 300;
}
html body h3 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 30px 10px;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */