#stefpuim {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    background: rgb(34, 34, 34);
    z-index: -1;
    position: relative;

    .bg {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background: rgb(13,45,92);
        background: linear-gradient(0deg, rgba(13,45,92,1) 0%, rgba(0,0,0,1) 100%);
        overflow: hidden;

        #stars {
            opacity: 0;
            position: absolute;
            top: 150vh;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scale(3, 3);
            transform-origin: center center;
            rotate: 0deg;
        }

        .canvasSunMoon {
            height: 300vw;
            width: 300vw;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translate3d(-100vw, calc(-150vw + 250vh), 0);
            transform-origin: center center;
            rotate: 0deg;

            .sun {
                position: absolute;
                height: 5%;
                width: 5%;
                top: 47.5%;
                left: 8%;
                background-color: rgb(255, 255, 200);
                box-shadow: 0 0 25px 25px rgb(255, 255, 200), 0 0 50px 25px yellow, 0 0 200px 100px rgb(255, 217, 0), 0 0 500px 0 yellow;
                border-radius: 100%;
            }

            .moon {
                position: absolute;
                height: 3%;
                width: 3%;
                background-color: rgb(233, 233, 233);
                box-shadow: 0 0 25px 0 rgb(233, 233, 233), 0 0 50px 0 rgb(233, 233, 233);
                border-radius: 100%;

                &:after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 100%;
                    background-image: url(../img/moon.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    opacity: 0.3;
                }
            }

            #moon1 {
                top: 15%;
                left: 30%;
            }

            #moon2 {
                top: 86.5%;
                left: 50%;
            }
        }

        .cloud {
            position: absolute;
            z-index: 3;
            height: 100%;
            left: -100vw;
        }

        #cloud4, #cloud5, #cloud6 {
            height: 120%;
        }

        #cloud1 {
            transform: translate3d(-80%, -10%, 0);
        }

        #cloud2 {
            transform: translate3d(20%, -10%, 0);
        }

        #cloud3 {
            transform: translate3d(30%, 20%, 0);
        }

        #cloud4 {
            transform: translate3d(-150%, -20%, 0);
        }

        #cloud5 {
            transform: translate3d(-150%, 20%, 0);
        }

        #cloud6 {
            transform: translate3d(-60%, -15%, 0);
        }
    }

    .segment {
        position: relative;
        height: 100vh;
        width: 100%;
    }

    .box {
        z-index: 10;

        .hour {
            position: absolute;
            width: 2%;
            height: 20%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 20%;
            border-radius: 100px;
            background-color: gray;
            margin: auto;
            transform-origin: bottom center;
            z-index: 8;
            opacity: 0;
        }

        .minute {
            position: absolute;
            width: 1%;
            height: 35%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 35%;
            border-radius: 100px;
            background-color: gray;
            margin: auto;
            transform-origin: bottom center;
            z-index: 9;
            opacity: 0;
        }

        .dot {
            position: absolute;
            width: 4%;
            height: 4%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 100%;
            background: black;
            margin: auto;
            z-index: 10;
            opacity: 0;
        }

        .mark {
            position: absolute;
            width: .5%;
            height: 90%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: none;
            margin: auto;
            transform-origin: center center;
            z-index: 7;
            opacity: 0;
        }

        #hour1 {
            transform: rotate(30deg);
            border-top: 25px solid black;
            border-bottom: 25px solid black;
        }

        #hour2 {
            transform: rotate(60deg);
            border-top: 25px solid black;
            border-bottom: 25px solid black;
        }

        #hour3 {
            transform: rotate(90deg);
            width: 1%;
            border-top: 50px solid black;
            border-bottom: 50px solid black;
        }

        #hour4 {
            transform: rotate(120deg);
            border-top: 25px solid black;
            border-bottom: 25px solid black;
        }

        #hour5 {
            transform: rotate(150deg);
            border-top: 25px solid black;
            border-bottom: 25px solid black;
        }

        #hour6 {
            transform: rotate(180deg);
            width: 1%;
            border-top: 50px solid black;
            border-bottom: 50px solid darkred;
        }

        .label {
            position: absolute;
            font-size: 2vw;
            z-index: 7;
            opacity: 0;
        }

        #twelve {
            top: 17%;
            left: 0;
            right: 0;
            bottom: 0;
        }

        #three {
            top: 44%;
            left: 60%;
            right: 0;
            bottom: 0;
        }

        #six {
            top: 72%;
            left: 0;
            right: 0;
            bottom: 0;
        }

        #nine {
            top: 44%;
            left: 0;
            right: 60%;
            bottom: 0;
        }
    }
}