.images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
    grid-auto-flow: dense;
}

.image {
    max-width: 100%;  /* "max-"width om kleine afbeeldingen niet uit te rekken */
    aspect-ratio: 1;  /* of 3/4 , .. */
    object-fit: cover;
}

.image:nth-child(10n +1) {   /* :first-child =  :nth-child(1) */
    grid-column: span 2;
    grid-row: span 2;
}

.image:nth-child(5) {
    aspect-ratio: auto;
    height: 100%;
    width: 100%;
    grid-row: span 2;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  /* repeat(4, 1fr) */
}
/* 
.item:nth-child(1) {
    background-color: red;
    grid-column: 3 / 5;
}

.item:nth-child(3) {
    background-color: green;
    grid-column: span 2;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
} */